.post {
  padding: 0.5rem 1rem;
  position: relative;
  opacity: 1;
  text-align: center;
  color: var(--primary-light);
  max-width: 50vw;
}

.post__closeButton {
  position: absolute;
  top: 0;
  right: 0;
}

.post__title {
  font-size: 1rem;
  overflow: hidden;
}

.post__text {
  display: block;
}
